.contents {
  width: 62%;
  // height: 1150px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0 3rem 5.5rem;
  // flex-direction: row;
  &-item {
    width: 46%;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 1px 1px 6px #00000029;
    margin-bottom: 38px;
    &:nth-child(5), 
    &:nth-child(6) {
      margin: 0;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 100px #00000029;
      transition: 0.3s;
    } 
  }
}
.contents__img {
  width: 100%;
  &:hover {
    cursor: pointer;
  } 
  img {
    width: 100%;
  }
}
.contents-content {
  padding: 23px;
  .contents-content__title {
    font-size: 1.4rem;
    &:after {
      display: block;
      content: "";
      width: 100%;
      border-bottom: 1px solid #E6E6E6;
      margin: 2.2rem 0 2.2rem 0;
    }
  }
  .contents-content__intro {
    font-size: 1.4rem;
  }
}
