footer {
  text-align: center;
}

.copy-right {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: 5.8rem;
  font-size: 10px;
  background-color: #000;
  line-height: 50px;
  color: #fff;
}