.header {
  width: 100%;
  background-color: #222222;
  height: 53.36px;
  text-align: center;
  .header-title {
    font-weight: 600;
    color: #FFFFFF;
    font-size: 2.1rem;
    line-height: 53.36px;
  }
}